/*
Table of Contents
1. Variables
    A) Colors
    B) Fonts
    C) Media Queries
2. Mixins
    A) Fonts
    B) Media Queries
 */
/*
    1. Variables
*/
/*
    2. Mixins
*/
ul {
  list-style: none; }

a {
  color: #C6C4C5;
  text-decoration: none; }

a:visited {
  color: #C6C4C5; }

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.125em; }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.125em; }

p,
a,
li {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

@media (min-width: 45em) {
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: 600; }

  h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.25em; }

  p,
  a,
  li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125em;
    line-height: 1.5; } }
@media (min-width: 90em) {
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 2.250em;
    font-weight: bold; }

  h3 {
    font-family: "Lato", sans-serif;
    font-size: 1.8em; }

  p,
  a,
  li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.250em;
    line-height: 1.5; } }
/*
Table of Contents
1. Navigation
2. Hero
 */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.navbar {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  background-color: #888;
  display: flex;
  justify-content: center; }

nav {
  width: 100%;
  display: grid;
  grid-template-areas: "a b" "c c"; }
  nav ul li {
    padding: 5px 10px; }

.toggle-nav {
  display: none; }

.hamburger {
  font-size: 2.5em;
  background: none;
  border: none;
  grid-area: b; }

.brand {
  display: flex;
  align-items: center;
  padding-left: 50px;
  grid-area: a; }
  .brand h3 {
    display: none; }

.menu {
  grid-area: c;
  text-align: center;
  background: #888;
  padding: 20px 0; }
  .menu a {
    padding: 20px 0;
    display: block; }

@media (min-width: 45em) {
  .navbar {
    opacity: 0.5; }

  .navbarSquished {
    -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    height: 100px;
    padding: 0;
    opacity: 1; }

  nav {
    grid-template-areas: "a b"; }

  .brand h3 {
    display: unset; }

  .hamburger {
    display: none; }

  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    padding-right: 50px;
    grid-area: b; } }
.hero {
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://via.placeholder.com/150x80");
  background-repeat: no-repeat;
  background-size: cover; }

.hero-text {
  background: #00000020;
  padding: 20px;
  line-height: 1.5;
  text-align: center; }

/*
Table of Contents
1. General Layout
2. About Us Section
3. Services Section
4. Contact Us Section
 */
main {
  width: 100%;
  margin: 0 auto; }
  main section {
    min-height: 80vh;
    padding: 20px 0;
    background-color: #ededed; }
    main section .container {
      width: 80%;
      margin: 0 auto;
      padding: 20px 0; }

section:nth-child(odd) {
  background-color: #dedede; }

#about-us img {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 20px 0; }

#services div[class*="service"] img {
  width: 80%;
  padding: 20px 0; }
#services div[class*="service"] h3 {
  padding: 20px 0; }

@media (min-width: 45em) {
  #services div[class*="service"] {
    display: grid;
    grid-template-areas: "a b" "a d";
    padding: 20px 0; }
    #services div[class*="service"] img {
      grid-area: a;
      padding-right: 20px; }
    #services div[class*="service"] h3 {
      grid-area: b; }
    #services div[class*="service"] p {
      grid-area: d; } }
#contact-us .contact-info {
  margin: 50px 0; }
  #contact-us .contact-info div {
    margin: 25px 0;
    text-align: center;
    line-height: 1.5; }
    #contact-us .contact-info div i {
      font-size: 1.5em;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      border: 1px solid #ededed;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: #ededed;
      display: flex;
      justify-content: center;
      align-items: center; }
    #contact-us .contact-info div h3 {
      margin: 10px 0; }
#contact-us img {
  width: 100%;
  height: 250px; }

@media (min-width: 45em) {
  #contact-us .contact-info {
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    #contact-us .contact-info div i {
      font-size: 2.5em;
      width: 100px;
      height: 100px; }
    #contact-us .contact-info div h3 {
      margin: 20px 0; }
  #contact-us img {
    height: 500px; } }
footer {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  background-color: #888; }

/*# sourceMappingURL=main.css.map */
